@using SimpleWebApp.Models;
@using SimpleWebApp.Repository;
@model EncounterViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .checkbox input[type="checkbox"] {
        opacity: 0;
    }

    .flex-container-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .ministry-action-btn {
        /*min-height: 0px;*/
    }
</style>
<form asp-controller="Home" asp-action="SaveEncounter">
    <br />
    <br />
    <div class="flex-container-actions">

        <div class="checkbox">
            <input asp-for="Prayer">
            <label onclick="ministryActionClicked(this)" id="prayerButton" class="ministry-action-btn btn btn-default"
                   for="prayerButton">Prayer</label>
        </div>
        <div class="checkbox">
            <input asp-for="Testimony">
            <label onclick="ministryActionClicked(this)" id="testimonyButton" class="ministry-action-btn btn btn-default"
                   for="testimonyButton">Testimony</label>
        </div>
        <div class="checkbox">
            <input asp-for="Gospel">
            <label onclick="ministryActionClicked(this)" id="gospelButton" class="ministry-action-btn btn btn-default"
                   for="gospelButton">Gospel</label>
        </div>
    </div>


    <br />
    <div class="flex-container">
        <div class="btn-group-lg" data-toggle="buttons">
            <label class="ryg-response btn btn-danger">
                <i class="fas fa-2x fa-frown"><input type="radio" asp-for="Response" value="@MinistryResponse.RedLight" onchange="handleMinistryResponseChange(this)"></i>
            </label>
            <label class="ryg-response btn btn-warning">
                <i class="fas fa-2x fa-meh"><input type="radio" asp-for="Response" value="@MinistryResponse.YellowLight" onchange="handleMinistryResponseChange(this)"></i>
            </label>
            <label class="ryg-response btn btn-success">
                <i class="fas fa-2x fa-smile"><input type="radio" asp-for="Response" value="@MinistryResponse.GreenLight" onchange="handleMinistryResponseChange(this)"></i>
            </label>
        </div>
    </div>
    <br />
    <br />
    <div class="flex-container">
        <div class="btn-group-lg" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" asp-for="Response" value="@MinistryResponse.BelieverDoesNotWantTraining" onchange="handleMinistryResponseChange(this)"> No to Training
            </label>
            <label class="btn btn-default">
                <input type="radio" asp-for="Response" value="@MinistryResponse.BelieverWantsTraining" onchange="handleMinistryResponseChange(this)"> Yes to Training
            </label>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="width:100%">
                <input type="text" placeholder="Name" asp-for="NameOfPerson">
                <textarea rows="5" placeholder="Notes..." asp-for="Notes"></textarea>
            </div>
        </div>
    </div>
    <br />
    <div class="flex-container">
        @*<label class="btn-lg btn-negative" onclick="resetAllDataFields">Reset</label>*@ <!-- Todo: add reset button somehwere -->
        <button class="btn-lg btn-success btn-block" type="submit">Save</button>
    </div>
</form>



<script>

    function getButtonValue(elem) {
        if (elem.classList.contains('active')) {
            return true;
        } else {
            return false;
        }
    }

    function toggleFaceIcon(elem) {
        var faceIconClasses = elem.parentNode.classList;
        var notAFaceIcon = faceIconClasses.contains('fas') === false && faceIconClasses.contains('far') === false;
        if (notAFaceIcon)
            return;

        if (elem.checked) {
            faceIconClasses.remove('fas');
            faceIconClasses.add('far');
        } else {
            faceIconClasses.remove('far');
            faceIconClasses.add('fas');
        }
    }

    var checkboxes = document.querySelectorAll('input[type=radio]');

    function handleMinistryResponseChange(elem) {
        toggleFaceIcon(elem);

        var unchecked = [];

        for (var k = 0; k < checkboxes.length; k++) {
            if (checkboxes[k].checked === false)
                unchecked.push(checkboxes[k]);
        }

        for (var i = 0; i < unchecked.length; i++) {
            toggleFaceIcon(unchecked[i]);
        }
    }

    function ministryActionClicked(elem) {
        var checkbox = elem.parentNode.children[0];
        if (elem.classList.contains('active')) {
            elem.classList.remove('active');
            checkbox.setAttribute("checked", "false");
            checkbox.val = false;
            checkbox.checked = false;
            switch (elem.id) {
                case 'prayerButton':
                    break;
                case 'testimonyButton':
                    elem.classList.remove('btn-info');
                    elem.classList.add('btn-default');
                    break;
                case 'gospelButton':
                    elem.classList.remove('btn-primary');
                    elem.classList.add('btn-default');
                    break;

            }
        } else {
            elem.classList.add('active');
            checkbox.setAttribute("checked", "true");
            checkbox.val = true;
            checkbox.checked = true;
            switch (elem.id) {
                case 'prayerButton':
                    break;
                case 'testimonyButton':
                    elem.classList.remove('btn-default');
                    elem.classList.add('btn-info');
                    break;
                case 'gospelButton':
                    elem.classList.remove('btn-default');
                    elem.classList.add('btn-primary');
                    break;

            }
        }
        //if (event.id != null) {
        //    document.querySelector(`#${id}`).addClass('active');


        //}
    }

    //document.querySelector('.ministry-action-btn').addEventListener('click', ministryActionClicked(elem));


    function activateAction(id) {

    }

    function deactivateAction(id) {

    }

</script>